In [1]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import psychopg2

ModuleNotFoundError: No module named 'psychopg2'

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pd.__version__

'1.5.3'

In [4]:
trips = pq.read_table(r"C:\Users\USER\Documents\dezoomcamp\week_1_basics_n_setup\2_docker_sql\ny_taxi_postgres_data\yellow_tripdata_2021-01.parquet")

In [5]:
df = trips.to_pandas()

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [7]:
df.shape

(1369769, 19)

In [8]:
pd.to_datetime(df.tpep_pickup_datetime, df.tpep_dropoff_datetime)

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369764   2021-01-31 23:03:00
1369765   2021-01-31 23:29:00
1369766   2021-01-31 23:25:00
1369767   2021-01-31 23:01:06
1369768   2021-01-31 23:08:29
Name: tpep_pickup_datetime, Length: 1369769, dtype: datetime64[ns]

In [9]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [ ]:
pip install psycopg_binary

In [13]:
df_iter = pd.read_csv(r"C:\Users\USER\Documents\dezoomcamp\week_1_basics_n_setup\2_docker_sql\ny_taxi_postgres_data\yellow_tripdata_2021-01.parquet", iterator=True, chunksize=100000)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 19: invalid start byte

In [15]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [16]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', chunksize=100000)

13769

In [17]:
# Green January 2019

In [18]:
trips19 = pq.read_table(r"C:\Users\USER\Documents\dezoomcamp\week_1_basics_n_setup\2_docker_sql\ny_taxi_postgres_data\green_tripdata_2019-01.parquet")

In [20]:
df19 = trips19.to_pandas()

In [21]:
df19.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [22]:
pd.to_datetime(df19.lpep_pickup_datetime, df19.lpep_dropoff_datetime)

0        2018-12-21 15:17:29
1        2019-01-01 00:10:16
2        2019-01-01 00:27:11
3        2019-01-01 00:46:20
4        2019-01-01 00:19:06
                 ...
672100   2019-01-31 23:08:00
672101   2019-01-31 23:28:00
672102   2019-01-31 23:14:00
672103   2019-01-31 23:41:00
672104   2019-01-31 23:16:00
Name: lpep_pickup_datetime, Length: 672105, dtype: datetime64[ns]

In [23]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [24]:
df19.to_sql(name='green_taxi_data', con=engine, if_exists='replace', chunksize=100000)

6105

In [25]:
df19.shape

(672105, 20)

In [26]:
zones = pq.read_table(r"C:\Users\USER\Documents\dezoomcamp\week_1_basics_n_setup\2_docker_sql\ny_taxi_postgres_data\taxi+_zone_lookup.csv")

ArrowInvalid: Could not open Parquet input source 'C:/Users/USER/Documents/dezoomcamp/week_1_basics_n_setup/2_docker_sql/ny_taxi_postgres_data/taxi+_zone_lookup.csv': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.

In [28]:
zones = pd.read_csv(r"C:\Users\USER\Documents\dezoomcamp\week_1_basics_n_setup\2_docker_sql\ny_taxi_postgres_data\taxi+_zone_lookup.csv")

In [29]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [30]:
zones.to_sql(name='zones_data', con=engine, if_exists='replace', chunksize=100000)

265